# Игнорируем папку сборки Haskell (она огромная)
dist-newstyle/
*.o
*.hi
*.dyn_o
*.dyn_hi

# Игнорируем скомпилированные exe-файлы (если они в корне)
*.exe

# Игнорируем кэш питона
__pycache__/
*.pyc

# Игнорируем системные файлы
.DS_Store
Thumbs.db